body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://i.stack.imgur.com/p9mUO.jpg); background-repeat: repeat;
  color: white;
}

body textarea{
  color: rgb(20, 20, 20);
}

.dark-font{
  color: rgb(20, 20, 20);
}

.content{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row{
  width: 100%;
  padding: 1%;
}

.text{
  color: rgb(20, 20, 20);
}

body select{
  color: rgb(20, 20, 20);
}
/* REGISTER */
.box{
  width: 40%;
  top: 10%;
  left: 30%;
  /* transform: translate(-50%,-50%); */
  position: absolute;
  float: left;
  background-color: none;
  text-align: center;
  color:white;
  border: 1px solid #3498db;
  border-radius: 3em;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"],.box input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover,.box input[type = "button"]:hover{
  background: #2ecc71;
}
/* END OF REGISTER */

/* LOGIN */
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}


.login-btn {
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.btn {
  margin-right: 0;
}

/* .add-to-cart{
} */

.btn:hover {
  background-color: #4caf50;
  color: white;
}
/* END OF LOGIN */

/* INDIVIDUAL PRODUCT */
.product-container {
  
  width: 100%;
  height: 100%;
}
.product-container div{
  border: 1px solid red;
  text-align: center;
}


.product-title-div {
  width: 97%;
  height: 3.5em;
  margin: 1%;
  /* float:left; */
  background-color: white;
  color: black;
  display: inline-block;
  box-shadow:lime;
  font-weight: bold;
}

.product-image-div {
  width:24%;
  /* height: 20em; */
  margin: 1%;
  float: left;
}

.product-image-solo {
  width: 100%;
}

.product-description-div {
  width: 70%;
  height: 10em;
  margin: 2%;
  float: right;
}

.qty-and-price {
  width: 20%;
  height: 4em;
  margin: 2%;
  float: right;
}

.add-to-cart {
  width: 8%;
  height: 4em;
  margin: 2%;
  float: right;
}

tr[data-href]{
  cursor: pointer;
} /* changes pointer when you hover over a table row in productList */ 

.solo-product-back-btn{
  float:left;
  width: 9%;
  margin-left: 3%;
  margin-top: 9%;
}

.solo-product-back-btn a{
  width: 100%;
}

.hide{
  display: none;
}

.reviews{
  display: inline-block;
  width: 95%;
  margin-left: 3%;
  margin-top: 2em;
}

.add-review-form{
  float: left;
  width: 30%;
}

.product-reviews{
  border: 1px solid red;
  width: 60%;
  float: right;
  text-align: left;
  padding-left: 20%;
}

.review-body p{
  font-size: 120%;
}

/* END OF INDIVIDUAL PRODUCT */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgray;
}

footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  margin-bottom: 0em;
  left: 0;
  width: 100%;
}

.product-list-image-col{
  width: 10%;
}

.product-list-images{
  width: 100%;
  height: 8em;
}

.product-image-home{
  width: 100%;
  height: 16em;
}

.product-list-show-cart a{
  background-color: #3498db;
  background-image: linear-gradient(#3498db, orange);
  font-weight: bold;
  width: 100%;
  height: 4em;
  line-height: 2.5em;
}
.product-list-show-cart a:hover{
  background-color: #4caf50;
  background-image: linear-gradient(#4caf50, darkblue);
}

.low-stock-col{
  width: 6%;
}

.low-stock{
  width: 100%;
  height: 6em;
}

.cats{
  margin-left: 1.3%;
  width: 10%;
  float: left;
}

.product-list{
  margin-right: 1.3%;
  width: 86%;
  float: right;
}


/*PriceList table*/
.table{
  width: 96%;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.cancel-order-btn{
  width: 7%;
  margin-right: 5%;
}