html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
  
.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
.left-column {
  display: block;
  float: left;
  width: 59%;
  position: relative;
}
  
.right-column {
  display: block;
  float: left;
  width: 40%;
  text-align: left;
  margin-top: 60px;
}
.left-column img {
  padding-top: 2.5em;
  padding-left: 10em;
  width: 60em;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
  
.left-column img.active {
  opacity: 1;
}
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
.product-price {
  padding-left: 2em;
  align-items: center;
}
  
.product-price .price {
  font-size: 2em;
  font-weight: 200;
  color: #43474D;
  margin-right: 20px;
}
  
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

.star-cb-group {
  /* remove inline-block whitespace */
	font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
	unicode-bidi: bidi-override;
	direction: rtl;
  /* the hidden clearer */;
}

.star-cb-group * {
	font-size: 1rem;
}

.star-cb-group > input {
	display: none;
}

.star-cb-group > input + label {
      /* only enough room for the star */
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	width: 2.4em;
	white-space: nowrap;
	cursor: pointer;
}

.star-cb-group > input + label:before {
	display: inline-block;
	text-indent: 0;
	content: "☆";
	color: rgb(114, 114, 114);
}

.star-cb-group > input:checked ~ label:before,
    .star-cb-group > input + label:hover ~ label:before,
    .star-cb-group > input + label:hover:before {
	content: "★";
	color: #e52;
	text-shadow: 0 0 1px #333;
}

.star-cb-group > .star-cb-clear + label {
	text-indent: -9999px;
	width: .5em;
	margin-left: -.5em;
}

.star-cb-group > .star-cb-clear + label:before {
	width: .5em;
}

.star-cb-group:hover > input + label:before {
	content: "☆";
	color: rgb(114, 114, 114);
	text-shadow: none;
}

.star-cb-group:hover > input + label:hover ~ label:before,
  .star-cb-group:hover > input + label:hover:before {
	content: "★";
	color: #e52;
	text-shadow: 0 0 1px rgb(85, 85, 85);
}

:root {
	font-size: 2em;
	font-family: Helvetica, arial, sans-serif;
}

fieldset {
	border: 0;
	background: rgb(255, 255, 255);
	width: 100%;
	border-radius: 2em;
	padding: 1em 1.5em 0.9em;
	margin: 1em auto;
}

#log {
	margin: 1em auto;
	width: 5em;
	text-align: center;
	background: transparent;
}

h1 {
	text-align: center;
}

.hint-star {
  display: block;
  margin-left: 0.5em;
  margin-bottom: 2em;
  width: 50%;
}
.glyphicon-star, .glyphicon-star-empty{
  font-size: 2.3em;
  color: #e67e22;
}
.glyphicon-star-empty{
  color: #9c9c9c;
}

.star span .glyphicon-star{
  color: #e67e22;
}
.glyphicon-star .half {
  position: relative;
}
.half:before {
  position: relative;
  width: 47%;
  display: block;
  z-index: 9;
  overflow: hidden;
}
.half:after {
  content: '\e006';
  position: absolute;
  z-index: 8;
  color: #b9b9b9;
  top: 0;
  left: 0;
}