body textarea{
  color: rgb(20, 20, 20);
}

.dark-font{
  color: rgb(20, 20, 20);
}

.content{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.glyphicon-users{
  background-color: transparent;
  color: rgb(20,20,20);
  font-size: 1.5em;
}

.text{
  color: rgb(20, 20, 20);
}

body select{
  color: rgb(20, 20, 20);
}

/* NAVIGATION AND MAIN PAGE */

.bg-image{
  /* background: url('/assets/images/productImages/logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  height: 10vh;
  /* background-attachment: fixed; */
}
.bw-gradient{
  width: 100%;
  height: 10vh;
  /* border: 1px solid red; */
  position: absolute;
          background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 11%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 11%,rgba(0,0,0,0) 100%); 
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgba(0,0,0,0.65) 11%,rgba(167, 255, 66, 0) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
.header{
  position: relative;
  width: 100%;
  height: 5em;
  margin: 0 auto;
  
}
.sub-header{
  position: relative;
  width: 90%;
  height: 4em;
  margin: 0 auto;
  transition:0.5s;
}
.sub-header.active{
  width: 100%;
  background: black;
  height: 50px;
}
.sub-header .left-menu{
  float: left;
}
.sub-header .logo a{
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
}

.sub-header.active .logo a{
  top:10px;
  font-size: 20px;
}

.sub-header .right-menu{
  float: right;
}
.sub-header ul li{
  list-style: none;
  min-width:100px;
  font-size: 16px;
  float: left;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin:20px 2px;
  transition:0.5s;
}
.sub-header.active ul li{
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}
.sub-header ul li a{
  text-decoration: none;
  color:#fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  transition:0.5s;
  display: block;
  border-radius: 2px;
}
.sub-header.active ul li a{
  color: #39f60a;
}
.sub-header ul li:hover a{
  background: #39f60a;
}
.sub-header.active ul li:hover a{
  background: black;
}

.sub-header .left-menu li a, .sub-header .right-menu li a, .sub-header .logo a{
  color: black;
}

.para{
  font-family: 'Playfair Display', sans-serif;
  margin: 50px;
  font-size: 16px;
}

@media screen and (max-width:1200px){
  .sub-header{
      width: 100%;
  }
}


/* 
@media screen and (max-width:768px){
  .sub-header ul{
      position: relative;
      top: 30px;
      float: none;
      display: block;
  }
 
  .sub-header .logo a{
      font-size: 30px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 8px;
      display: block;
  }
  
  .sub-header.active ul{
      height: auto;
      width :100%;
      float: none;
      overflow: hidden;
      background: #fff;
      position: relative;
      top: 50px;
  }
  .sub-header.active ul li{
      width: 100%;
      display: block;

  }
 
} */

/* @media screen and (max-width:605px){
  .sub-header .right-menu{
      float: left;
  }
} */

/* @media screen and (max-width:480px){
  .sub-header ul{
      width: 100%;
      background: #fff;
      color:#333;
      top:50px;
  }
  .sub-header ul li{
      list-style: none;
      width:100%;
      font-size: 16px;
      float: none;
      display: block;
      text-align: center;
      height: 30px;
      line-height: 30px;
      transition:0.5s;
      color:#333;
  }
  .sub-header ul li a{
      color: #333;
  }
  .sub-header .right-menu{
      border-top :1px dashed #333;
  }
  .sub-header.active ul{
      height: 0;
      overflow: hidden;
      transition: 0.5s;
      border: none;
  } */
  
  
  

#search{
border-radius: 3em;
padding-left: 2em;
}
.search button{
border-radius: 3em;
font-family: 'Roboto Slab', sans-serif;

}

/* END OF NAVIGATION */

/* REGISTER */
.box{
  width: 40%;
  top: 10%;
  left: 30%;
  /* transform: translate(-50%,-50%); */
  position: absolute;
  float: left;
  background-color: none;
  text-align: center;
  color:white;
  border: 1px solid #3498db;
  border-radius: 3em;
}

.box ::placeholder{
  color: rgb(175, 175, 175);
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"],.box input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover,.box input[type = "button"]:hover{
  background: #2ecc71;
}
/* END OF REGISTER */

/* LOGIN */
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.textbox ::placeholder{
  color:whitesmoke; 
} 
.login-btn {
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.btn {
  margin-right: 0;
  transition:0.5s;
}


/* .add-to-cart{
} */

.btn:hover {
  background-color: #4caf50;
  color: white;
}
/* END OF LOGIN */

/* INDIVIDUAL PRODUCT */
.product-container {
  
  width: 100%;
  height: 100%;
}
.product-container div{
  /* border: 1px solid red; */
  text-align: center;
}


.product-title-div {
  width: 97%;
  height: 3.5em;
  margin: 1%;
  /* float:left; */
  background-color: white;
  color: black;
  display: inline-block;
  box-shadow:lime;
  font-weight: bold;
}

.product-image-div {
  width:24%;
  /* height: 20em; */
  margin: 1%;
  float: left;
}

.product-image-solo {
  width: 100%;
}

.product-description-div {
  width: 70%;
  height: 10em;
  margin: 2%;
  float: right;
}

.qty-and-price {
  width: 20%;
  height: 4em;
  margin: 2%;
  float: right;
}

.add-to-cart {
  width: 8%;
  height: 4em;
  margin: 2%;
  float: right;
}

tr[data-href]{
  cursor: pointer;
} /* changes pointer when you hover over a table row in productList */ 

.solo-product-back-btn{
  float:left;
  width: 9%;
  margin-left: 3%;
  margin-top: 9%;
}

.solo-product-back-btn a{
  width: 100%;
}

.hide{
  display: none;
}

.reviews{
  display: inline-block;
  width: 95%;
  margin-left: 3%;
  margin-top: 5em;
}

.add-review-form{
  float: left;
  width: 30%;
}

.product-reviews{
  /* border: 1px solid red; */
  width: 60%;
  float: right;
  text-align: left;
  padding-left: 20%;
}

.user-reviews{
  text-decoration: none;
  color: rgb(20,20,20);
}

.review-body p{
  font-size: 120%;
}

/* END OF INDIVIDUAL PRODUCT */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(207, 207, 207);
}

.product-list-image-col{
  width: 13%;
}

.product-list-images{
  width: 100%;
  height: 8em;
}

.product-image-home{
  width: 100%;
  height: 16em;
}

.product-list-show-cart a{
  font-weight: bold;
  width: 100%;
  height: 4em;
  line-height: 2.5em;
}

.product-list-ptitle a{
  color: inherit;
}

.product-list-ptitle :hover{
  text-decoration: none;
  color: rgb(117, 8, 8);
}


.low-stock{
  width: 100%;
  height: 6em;
}

.no-stock{
  width: 100%;
  height: 8em;
}

.cats{
  position: absolute;
  left: 0;
  margin-left: 1%;
  width: 10%;
  float: left;
}

.product-list{
  position: relative;
  margin-right: 3%;
  width: 80%;
  float: right;
}

.product-list h2{
  margin-left: 4%;
}


/*user list table*/
.table{
  width: 96%;
  color: rgb(20,20,20);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.table tr:hover{
  background-color: rgb(160, 160, 160);
}

/* **** */
.cancel-order-btn{
  width: 7%;
  margin-right: 5%;
}

/* Slider */
@keyframes slidy {
  0% { left: 0%; }
  14% { left: 0%; }
  18% { left: -100%; }
  32% { left: -100%; }
  36% { left: -200%; }
  50% { left: -200%; }
  54% { left: -300%; }
  68% { left: -300%; }
  72% { left: -400%; }
  86% {left: -400%; }
  }
  
  div#slider {
    overflow-x: hidden;
    display: block;
    float:left;
  }
  div#slider figure img { 
    width: 20%;
    float: left; 
    height: 90%;
  }
  div#slider figure {
    height: 90%;
    top:10%;
    position: absolute;
    width: 500%;
    display: block;
    float:left;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
    z-index: -1;
  }
  /* End of slider */

  /* ADD PRODUCT FORMS */
  .add-product-form {
    width: 50%;
    margin: -1em auto;
  }

  #pie-chart{
    position: relative;
    margin-left: 20%;
  }
  /* backtotop */
  #top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2em; /* Place the button at the bottom of the page */
    right: 1em; /* Place the button 30px from the right */
    z-index:99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:limegreen; /* Set a background color */
    color: black;/* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1em; /* Some padding */
    border-radius: 1em; /* Rounded corners */
    font-weight: bold;
    border: .1em solid white;
    
}

#top:hover {
    background-color: black; /* Add a dark-grey background on hover */
    transition: .5s;
    color: white;
    border: .1em solid white;
}
/* footer */


/*forum css*/

.add-forum-form{
  margin-left: auto;
  margin-right: auto;
  width: 35%;

}
.reply-to-thread{
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}





