body textarea{
  color: rgb(20, 20, 20);
}

.dark-font{
  color: rgb(20, 20, 20);
}

.content{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.glyphicon-users{
  background-color: transparent;
  color: rgb(20,20,20);
  font-size: 1.5em;
}

.text{
  color: rgb(20, 20, 20);
}

body select{
  color: rgb(20, 20, 20);
}

/* NAVIGATION AND MAIN PAGE */

.bg-image{
  height: 10vh;
  
}
.bw-gradient{
  width: 100%;
  height: 10vh;
  /* border: 1px solid red; */
  position: absolute;
          background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 11%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 11%,rgba(0,0,0,0) 100%); 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 11%,rgba(0, 0, 0, 0) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
.header{
  position: relative;
  width: 100%;
  height: 5em;
  margin: 0 auto;
  
}
.sub-header{
  position: relative;
  width: 90%;
  height: 4em;
  margin: 0 auto;
  transition:0.5s;
}
.sub-header.active{
  width: 100%;
  background: black;
  height: 50px;
}
.sub-header .left-menu{
  float: left;
}
.sub-header .logo a{
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
}

.sub-header.active .logo a{
  top:10px;
  font-size: 20px;
}

.sub-header .right-menu{
  float: right;
}
.sub-header ul li{
  list-style: none;
  min-width:100px;
  font-size: 16px;
  float: left;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin:20px 2px;
  transition:0.5s;
}
.sub-header.active ul li{
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}
.sub-header ul li a{
  text-decoration: none;
  color:#fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  transition:0.5s;
  display: block;
  border-radius: 2px;
}
.sub-header.active ul li a{
  color: #39f60a;
}
.sub-header ul li:hover a{
  background: #39f60a;
}
.sub-header.active ul li:hover a{
  background: black;
}

.sub-header .left-menu li a, .sub-header .right-menu li a, .sub-header .logo a{
  color: black;
}

.para{
  font-family: 'Playfair Display', sans-serif;
  margin: 50px;
  font-size: 16px;
}

@media screen and (max-width:1200px){
  .sub-header{
      width: 100%;
  }
}  
#search{
border-radius: 3em;
padding-left: 2em;
}
.search button{
border-radius: 3em;
font-family: 'Roboto Slab', sans-serif;

}

/* END OF NAVIGATION */

/* REGISTER */
.box{
  width: 99%;
  
margin: auto;
  /* transform: translate(-50%,-50%); */
  position: static;
  overflow:hidden; 
  /* float: left; */
  background-color: none;
  text-align: center;
  color:white;
  border: 1px solid #3498db;
  border-radius: 3em;
}

.box ::placeholder{
  color: rgb(175, 175, 175);
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"],.box input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover,.box input[type = "button"]:hover{
  background: #2ecc71;
}
/* END OF REGISTER */

/* LOGIN */
.login-box {
  width: 280px;
  position: static;
  overflow: hidden;
  /* border:12px solid red; */
  top: 50%;
  margin: auto;
    /* transform: translate(-30%, -30%); */
  color:white;
  margin-bottom: 1em;
  
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.textbox ::placeholder{
  color:whitesmoke; 
} 
.login-btn {
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.btn {
  margin-right: 0;
  transition:0.5s;
}


/* .add-to-cart{
} */

.btn:hover {
  background-color: #4caf50;
  color: white;
}
/* END OF LOGIN */

/* INDIVIDUAL PRODUCT */
.product-container {
  
  width: 100%;
  height: 100%;
}
.product-container div{
  /* border: 1px solid red; */
  text-align: center;
}


.product-title-div {
  width: 97%;
  height: 3.5em;
  margin: 1%;
  /* float:left; */
  background-color: white;
  color: black;
  display: inline-block;
  box-shadow:lime;
  font-weight: bold;
}

.product-image-div {
  width:24%;
  /* height: 20em; */
  margin: 1%;
  float: left;
}

.product-image-solo {
  width: 100%;
}

.product-description-div {
  width: 70%;
  height: 10em;
  margin: 2%;
  float: right;
}

.qty-and-price {
  width: 20%;
  height: 4em;
  margin: 2%;
  float: right;
}

.add-to-cart {
  width: 8%;
  height: 4em;
  margin: 2%;
  float: right;
}

tr[data-href]{
  cursor: pointer;
} /* changes pointer when you hover over a table row in productList */ 

.solo-product-back-btn{
  float:left;
  width: 9%;
  margin-left: 3%;
  margin-top: 9%;
}

.solo-product-back-btn a{
  width: 100%;
}

.hide{
  display: none;
}

.reviews{
  display: inline-block;
  width: 95%;
  margin-left: 3%;
  margin-top: 5em;
}

.add-review-form{
  float: left;
  width: 30%;
}

.product-reviews{
  /* border: 1px solid red; */
  width: 60%;
  float: right;
  text-align: left;
  padding-left: 20%;
}

.user-reviews{
  text-decoration: none;
  color: rgb(20,20,20);
}

.review-body p{
  font-size: 120%;
}

/* END OF INDIVIDUAL PRODUCT */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(207, 207, 207);
}

.product-list-image-col{
  width: 13%;
}

.product-list-images{
  width: 100%;
  height: 8em;
}

.product-image-home{
  width: 100%;
  height: 16em;
}

.product-list-show-cart a{
  font-weight: bold;
  width: 100%;
  height: 4em;
  line-height: 2.5em;
}

.product-list-ptitle a{
  color: inherit;
}

.product-list-ptitle :hover{
  text-decoration: none;
  color: rgb(117, 8, 8);
}


.cats{
  position: static;
  
  margin-left: 1%;
  width: 15%;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}

.product-list{
  position: relative;
	overflow: hidden;
 
  width: 80%;
  float: right;
  margin-left: 4%;
}
.product-list h1{
  text-align: center;
  font-weight: 500;
  font-size:2em;

}

.product-list h2{
  margin-left: 4%;
}
/* product-list media */
@media screen and (max-width: 1600px){
	.product-list{
		/* position: absolute; */
		position:static;
		/* position:relative; */
		
	}
}

/*user list table*/
.table{
  width: 96%;
  color: rgb(20,20,20);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.table tr:hover{
  background-color: rgb(160, 160, 160);
}

/* **** */
.cancel-order-btn{
  width: 7%;
  margin-right: 5%;
}


  /* ADD PRODUCT FORMS */
  .add-product-form {
    width: 50%;
    margin: -1em auto;
    
  }

  #pie-chart{
    position: relative;
    margin-left: 20%;
  }
  /* backtotop */
  #top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2em; /* Place the button at the bottom of the page */
    right: 1em; /* Place the button 30px from the right */
    z-index:99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:limegreen; /* Set a background color */
    color: black;/* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1em; /* Some padding */
    border-radius: 1em; /* Rounded corners */
    font-weight: bold;
    border: .1em solid white;
    
}

#top:hover {
    background-color: black; /* Add a dark-grey background on hover */
    transition: .5s;
    color: white;
    border: .1em solid white;
}
/* footer */


/*forum css*/

.add-forum-form{

  margin:Auto;
  width: 35%;

}
.reply-to-thread{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.thread{
  position: static;
  overflow: hidden;
  width: 100%;
}
#forum{
  position: static;
  overflow: hidden;
  margin-bottom: 1em;
  width: 100%;
 
}
/* LowStock */
.lowstock{

  overflow: hidden;
  position: static;
  width: 100%;
  /* float:right; */
}
.lowstock h1 {
  text-align: center;
text-transform: uppercase;
}
/* STATS */
.stats{
  
  overflow: hidden;
  position: static;
  width: 100%;
  margin-bottom: 1em;
}
.stats h1{
  text-align: center;
  text-transform: uppercase;
}
.allreview{
  
  overflow: hidden;
  position: static;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
}
.allreview{
  text-align: center;
  text-transform: uppercase;
}
.buildpc {
  width: 50%;
  margin: 1em auto;
  position: static;
  overflow: hidden;
}
.buildpc h1{
  text-align: center;
  text-transform: uppercase;
}
.vieworders{
  margin-bottom: 3.6em;
  margin-top: 3em;
  position: static;
  overflow: hidden;
}
.basket{
  margin-bottom: 3em;
  margin-top: 3em;
  position: static;
  overflow: hidden;
}
.basket h1{
  text-align: center;
  text-transform: uppercase;
}
.text-right{
  margin-top: 1em;
  display: flex; 
  justify-content: center;
  
}
.actions{
  display:flex;
  justify-content: center;
  margin-top:2em;
  
}
.actions input{
  margin-left: 1em;
}
.restock{
  width:100%;
  position: static;
  overflow: hidden;
  
  /* display: flex;  */
  justify-content: center;
}
.restock h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.restock .box input{
 
  width:50%;
  color:black;
  
}

/*
#test{
 position: static;
 overflow: hidden; 
} */
/* footer */
