/* fonts  */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

body {
	/* background: #DFC2F2; */
	/* background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%); */
	background-color: rgb(207, 207, 207);
	background-attachment: fixed;	
	background-size: cover;
}

#container{
  float: left;
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 2em 2%;
	height: 26em;
	width: 44.5%;
}
/*start of slider*/


 
/* Slider wrapper*/
.css-slider-wrapper {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
 
/* Slider */
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}
 
/* Slides Background Color */
.slide-1 {
  background: #fbad99;
  left: 0;
}
.slide-2 {
  background: #a9785c;
  left: 100%
}
.slide-3 {
  background: #9ea6b3;
  left: 200%
}
.slide-4 {
  background: #b1a494;
  left: 300%;
}
.slider {
  display: flex;
  justify-content: flex-start;
}
.slider-content {
  width: 635px;
  padding-left: 100px;
}
 
 
/* Slider Inner Slide Effect */
.slider h2 {
  color: #333333;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  margin-top: 0;
  letter-spacing: 2px;
}
 
.slider h4 {
  font-size: 22px;
  font-family: "Oswald";
  color: rgba(51, 51, 51, 0.349);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}
 
.slider > img {
  position: absolute;
	width: 50%;
	/* float: left; */
  bottom: 0;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}
 
.slide-1 > img {
  right: 0;
}
.slide-2 > img {
  right: 0;
}
.slide-3 > img {
  right: 0;
}
.slide-4 > img {
  right: 0;
}
 
.buy-now-btn {
  background-color: #ea2e49;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  text-align: left;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  transition: all .2s;
}
 
.buy-now-btn:hover {
  box-shadow: 0px 0px 60px -17px rgba(51,51,51,1);
}
 
.buy-now-btn:after {
  content: 'Buy Now';
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 35px;
  top: 18px;
}
 
.slider .buy-now-btn:focus,
.navigation .login-btn:focus {
  outline: none;
}
 
/* Animations */
.slider h2 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}
.slider h4 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.4s; /* Safari */
  transition-delay: 1.4s;
}
.slider > img {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.2s; /* Safari */
  transition-delay: 1.2s;
}
 
/* Number Pagination */
.number-pagination {
  position: absolute;
  bottom: 30px;
  right: 100px;
  font-family: "Oswald";
  font-weight: bold;
}
 
.number-pagination span {
  font-size: 30px;
  color: #ea2e49;
  letter-spacing: 4px;
}
 
.number-pagination span:after {
  content: "/4";
  font-size: 16px;
  color: #ea2e49;
}
 
/* Slider Pagger */
.slider-pagination {
  position: absolute;
  bottom: 30px;
  width: 575px;
  left: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.slider-pagination label {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
}
 
/* Slider Pagger Event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
  width: 14px;
  height: 14px;
  border: 2px solid #ea2e49;
  background: transparent;
}
 
/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
 
.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio4:checked ~ .slide-4 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio4:checked ~ .slide-4 h4,
.slide-radio1:checked ~ .slide-1 > img,
.slide-radio2:checked ~ .slide-2 > img,
.slide-radio3:checked ~ .slide-3 > img,
.slide-radio4:checked ~ .slide-4 > img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}
 
/* Responsive */
@media only screen and (max-width: 768px) {
  .slider h2 {
    font-size: 20px;
  }
  .slider h4 {
    font-size: 16px;
  }
 
  .slider-content {
    padding: 0 2%
  }
 
  .navigation {
    padding: 0 2%;
  }
 
  .navigation-left {
    display: none;
  }
 
  .number-pagination {
    right: 2%;
  }
  .slider-pagination {
    left: 2%;
  }
 
  .slider .buy-now-btn {
    padding: 0 15px;
    width: 175px;
    height: 42px;
  }
 
  .slider .buy-now-btn:after {
    top: 15px;
  }
 
  .slider > img {
    right: 2%;
  }
 
}
/* end of slider */



/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
    padding-left: 1em;
    padding-top: 3em;
    margin-bottom: 1em;
	height: 100%;
	float: left;
	width: 50%;
}

/* 	Product Name */
#container .product-details h1{
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 25px;
	color: #344055;
	margin: 0;
}


/*Product Rating  */
.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	/* color: rgb(255, 0, 0); */
	width: 50%;
}
.glyphicon-star, .glyphicon-star-empty{
	font-size: 1.3em;
}
.glyphicon-star-empty{
	color: #9c9c9c;
}

.glyphicon-star{
	color: #e67e22;
}
.glyphicon-star .half {
	position: relative;
}
.half:before {
	position: relative;
	width: 47%;
	display: block;
	z-index: 9;
	overflow: hidden;
}
.half:after {
	content: '\e006';
	position: absolute;
	z-index: 8;
	color: #b9b9b9;
	top: 0;
	left: 0;
}

/* The most important information about the product */
#container .product-details > p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 20px;
	color: #7d7d7d;
	
}

/* control */

.control{
	position: absolute;
	bottom: 12%;
	left: 22.8%;
	
}
/* the Button */
.btn1 {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #49C608;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	margin-bottom: -5em;
}
.btn1:hover{transform: translateY(-4px);}
.btn1 span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
/* shopping cart icon */
.btn1 .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}
.btn1 .price {
	transform: translateX(-10%); padding-right: 15px;
}
/* the Icon */
.btn1 .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}
/* buy */
.btn1 .buy {z-index: 3; font-weight: bolder;}
.btn1:hover .price {transform: translateX(-110%);}
.btn1:hover .shopping-cart {transform: translateX(0%);}

/* NO STOCK BUTTON */

.btn1-no-stock {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: rgb(175, 120, 18);
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	margin-bottom: -5em;
}

.btn1-no-stock:hover{transform: translateY(-4px);}
.btn1-no-stock span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
/* shopping cart icon */
.btn1-no-stock .price, .shopping-cart-x{
	background: #333;
	border: 0;
	margin: 0;
}
.btn1-no-stock .price {
	transform: translateX(-10%); padding-right: 15px;
}
/* the Icon */
.btn1-no-stock .shopping-cart-x {
	background: rgb(104, 17, 17);
	border: 0;
	margin: 0;
	transform: translateX(-100%);
  position: absolute;
	background: rgb(104, 17, 17);
	z-index: 1;
  left: 0;
  top: 0;
}
/* buy */
.btn1-no-stock .buy {z-index: 3; font-weight: bolder;}
.btn1-no-stock:hover .price {transform: translateX(-110%);}
.btn1-no-stock:hover .shopping-cart-x {transform: translateX(0%);}

/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	/* float: right; */
	width: 50%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    /* cursor: no-drop; */
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
		top: 0;
		padding-left: 0.5em;
}

#container .product-details .information {
    width: 100%;
    color: rgb(20, 20, 20);
    /* font-size: 110%; */
    /* border: 1px solid red; */
}

.info h3 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
}
.product-list-index h1{
	text-align: center;
	font-family: myFirstFont;
	margin-right: 1%;
}

.product-list-index h2{
	text-align: center;
	font-size: 350%;
}

.product-list-index hr{
	width: 50%;
	display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
	border-style: inset;
	
}
.product-list-index{
	position: static;
	overflow: hidden;
 
	margin-top:45%;
}

@media screen and (max-width: 2100px){
	.product-list-index{
		position: absolute;
	
		margin-top: 50%;
	}
}
@media screen and (max-width: 1900px){
	.product-list-index{
	margin-top:50%;	
		
	}
}
@media screen and (max-width: 1800px){
	.product-list-index{
		
	
position:Static;
		margin-top: 50%;
		
	}
}
@media screen and (max-width: 1600px){
	.product-list-index{
		/* position: absolute; */
		
		position:static;
		
	}
}
@media screen and (max-width: 1650px){
	.product-list-index{
		margin-top:43%;
		
	}
}
@media screen and (max-width: 1500px){
	.product-list-index{
		margin-top:43%;
		
	}
}
@media screen and (max-width: 1400px){
	.product-list-index{
		margin-top:43%;
		
	}
}
@media screen and (max-width: 1450px){
	.product-list-index{
		margin-top:45%;
		
	}
}
@media screen and (max-width: 1300px){
	.product-list-index{
		margin-top:47%;
		
	}
}
@media screen and (max-width: 1250px){
	.product-list-index{
		margin-top:48%;
		
	}
	#container .product-details .information {
    width: 100%;
    color: rgb(20, 20, 20);
    font-size: 120%; 
   
}
}
@media screen and (max-width: 1200px){
	.product-list-index{
		margin-top:47%;
		
	}
	#container{
		float: left;
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 2em 2%;
		width: 85%;
		margin-left: 8%;
		height: 30em;
	}
	#container .product-details .information {
    width: 100%;
    color: rgb(20, 20, 20);
    font-size: 200%; 
   
}
}

@media screen and (max-width: 1150px){
	.product-list-index{
		margin-top:49%;
		
	}
	#container{
		float: left;
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 2em 2%;
		width: 85%;
		margin-left: 8%;
		height: 26em;
	}
	#container .product-details .information {
    width: 100%;
    color: rgb(20, 20, 20);
    font-size: 160%; 
    
}
}
@media screen and (max-width: 1100px){
	.product-list-index{
		margin-top:52%;
		
	}
	#container{
		float: left;
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 2em 2%;
		width: 85%;
		margin-left: 8%;
		
	}
}
@media screen and (max-width: 1000px){
	.product-list-index{
		margin-top:56%;
		
	}
	#container{
		float: left;
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 2em 2%;
		width: 85%;
		margin-left: 8%;
		
	}
}
@media screen and (max-width: 950px){
	.product-list-index{
		margin-top:62%;
		
	}
	#container{
		float: left;
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 2em 2%;
		height: 26em;
		width: 83%;
		margin-left: 10%;
		
	}
}
@media screen and (max-width: 900px){
	.product-list-index{
		margin-top:65%;
		
	}
	#container{
		float: left;
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 2em 2%;
		height: 26em;
		width: 85%;
		margin-left: 8%;
	}
}
@media screen and (max-width: 850px){
	.product-list-index{
		margin-top:67%;
		
	}
	#container{
		float: left;
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 2em 2%;
		height: 26em;
		width: 85%;
		margin-left: 8%;
	}
}
@media screen and (max-width: 800px){
	.product-list-index{
		margin-top:70%;
		
	}
	#container{
		float: left;
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 2em 2%;
		height: 26em;
		width: 85%;
		margin-left: 8%;
		
	}
	
}

@media screen and (max-width: 750px){
	.product-list-index{
		margin-top:78%;
	
	}
	/* product image  */

	#container{
		float: left;
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 2em 2%;
		width: 85%;
		margin-left: 8%;
		
	}
	

  .sub-header ul{
      position: relative;
      top: 2px;
      float: none;
			display: block;
	
  }
 
  .sub-header .logo a{
      font-size: 24px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 8px;
      display: block;
  }

  .sub-header.active ul li{
      width: 100%;
      display: block;
	
  }
 
}
	

@media screen and (max-width: 700px){
	.product-list-index{
		margin-top:81%;
	
	}
	/* product image  */

	#container{
		float: left;
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 2em 2%;
		width: 85%;
		margin-left: 8%;
		
	}
	
}

/