@(productForm: Form[models.Product], user: models.users.User)
@import helper._

@main("Add product", user) {
<h3>Add a product to BLDPC</h3>

@if(productForm.hasGlobalErrors) {
<p class="alert alert-warning">
    @for(e
    <- productForm.globalErrors) { @e.message<br />
    }
</p>
}

@* Display error message from flash *@
@if(flash.containsKey("error")) {
<div class="alert alert-danger">
    @flash.get("error")
</div>
}

<div class="register">
    @helper.form(action=controllers.routes.ProductController.addProductSubmit(), 'class -> "form-horizontal",
    'role -> "form", 
    'enctype -> "multipart/form-data") {

    @* CSRF attack prevention *@
    @CSRF.formField

    @inputText(productForm("productName"),'_label -> "Prod Name", 'class -> "form-control")
    
        INSERT THE DAMN CATEGORIES - OTHERWISE YOU'LL GET A NULLPOINTER
        I might be wrong though...

    @inputText(productForm("productDescription"), '_label -> "Descripton", 'class -> "form-control")
    @inputText(productForm("productQty"), '_label -> "In Stock", 'class -> "form-control")
    @inputText(productForm("procductPrice"), '_label -> "Price", 'class -> "form-control")

    @inputText(productForm("id"), '_label -> "", 'hidden -> "hidden")


</div>

<div class="actions">

    <input type="submit" value="Add/Update product" class="btn btn-primary" />

    <input type="button" value="Cancel" class="btn btn-danger"
        onclick="window.location.href = '@routes.ProductController.productList()';">

</div>
}
}