@(title: String, user: models.users.User)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
  
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/logo.png")">

   

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
   
   $(".fa-search").click(function() {
      $(".search-box").toggle();
      $("input[type='text']").focus();
    });

});

</script>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
  


     </head> 

<header>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@routes.HomeController.index">BLCPC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-item nav-link"  href="@routes.HomeController.index"><li>Home</li></a>
            </li>
            <li class="nav-item active">
                <a class="nav-item nav-link" href="@routes.ProductController.productList"><li>Pricing</li></a>
            </li>
            <li class="nav-item active">
                @if(user != null) {
                  <a class="nav-item nav-link" href="@routes.LoginController.logout()"><li>Log Out</li></a>
                } else {
                  <a class="nav-item nav-link" href="@routes.LoginController.login()"><li>Log In</li></a>
                }
            </li>
          </ul>
        </div>
      </nav>
  </header>
  <body>
      @content
  </body>

</html>

  