@(userForm: Form[models.users.User], user: models.users.User)
@import helper._

@main("Register", user) {
    <style>
        body {
            background-color: rgb(99, 140, 216);
        }
        
        .form-control {
            margin: 0 auto;
            width: 250px;
            text-align: center;
        }
        
        h3 {
            text-align: center;
        }
        
        .register {
            text-align: center;
        }
        
        .actions {
            text-align: center;
            margin-top: 0em;
        }
    </style>
    <script>
    function validateform(){
        var x = document.input[""]
    }
    </script>
    <h3>Register to BLDPC</h3>
    
    @if(userForm.hasGlobalErrors) {
        <p class="alert alert-warning">
            @for(e
            <- userForm.globalErrors) { @e.message<br/>
            }
        </p>
    }

    @* Display error message from flash *@
    @if(flash.containsKey("error")) {
        <div class="alert alert-success">
            @flash.get("error")
        </div>
    }
    
    @form(action=controllers.routes.LoginController.registerSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @* CSRF attack prevention *@
        @CSRF.formField
        
        <div class="register">
            <div class="form-group">
                @inputText(userForm("email"), '_label -> "Email",
                'class -> "form-control input-xs", 'placeholder -> "Email")
            </div>
            
            <div class="form-group">
                @inputText(userForm("username"), '_label -> "Username",
                'class -> "form-control input-xs", 'placeholder -> "Username")
            </div>
            
            <div class="form-group">
                @inputPassword(userForm("password"), '_label -> "Password",
                'class -> "form-control input-xs", 'placeholder -> "Password")
            </div>
            @inputText(userForm("role").copy(value=Some("customer")), '_label -> "", 'hidden -> "hidden")
        </div>
        
        
        <div class="actions">
            
            <input type="submit" value="Sign up" class="btn btn-primary"/>
            
            <input type="button" value="Cancel" class="btn btn-danger"
            onclick="window.location.href = '@routes.LoginController.login()';">
            
        </div>
    }
}