@(userForm: Form[models.users.User], user: models.users.User)
@import helper._

@main("Register", user) {
    <style>
      *{
          margin: 0em;
          padding: 0em;
      }
        body{
  margin: 0em;
  padding: 0em;
  font-family: sans-serif;
  background:#191919;
}
.box{
  width: 40%;
  top: 10%;
  left: 30%;
  /* transform: translate(-50%,-50%); */
  position: absolute;
  float: left;
  background-color: none;
  text-align: center;
  color:white;
  border: 1px solid #3498db;
  border-radius: 3em;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"],.box input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover,.box input[type = "button"]:hover{
  background: #2ecc71;
}


    </style>
    
    
    @if(userForm.hasGlobalErrors) {
        <p class="alert alert-warning">
            @for(e
            <- userForm.globalErrors) { @e.message<br/> 
            }
            <!-- Make  -->
        </p>
    }

    @* Display error message from flash *@
    @if(flash.containsKey("error")) {
        <div class="alert alert-danger">
            @flash.get("error")
        </div>
    }
    
    @helper.form(action=controllers.routes.LoginController.registerSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @* CSRF attack prevention *@
        @CSRF.formField
        
   <div class="box">

       <h1>Register</h1>

                @inputText(userForm("email"), '_label -> "",
                'class -> "input", 'placeholder -> "Email")
            
            
           
                @inputText(userForm("username"), '_label -> "",
                'class -> "input", 'placeholder -> "Username")
           
                @inputPassword(userForm("password"), '_label -> "",
                'class -> "input", 'placeholder -> "Password")
           
                @inputPassword(userForm("password"), '_label -> "",
                'class -> "input", 'placeholder -> "Confirm Password")
         
                @inputText(userForm("address"), '_label -> "",
                'class -> "input", 'placeholder -> "Address")
    
                @inputText(userForm("mobileNumber"), '_label -> "",
                'class -> "input", 'placeholder -> "Mobile Number")
            
            @inputText(userForm("role").copy(value=Some("customer")), '_label -> "", 'hidden -> "hidden")
       
   
            <input type="submit" value="Sign up" class="btn"/>
            
            <input type="button" value="Cancel" class="btn"
            onclick="window.location.href = '@routes.LoginController.login()';">
            
        </div>
    }
}