@(productForm: Form[models.products.GraphicsCard], pid: Long, user: models.users.User, heading: String)
@import helper._

@main("Add product info", user) {
<h3>@heading</h3>

@if(productForm.hasGlobalErrors) {
<p class="alert alert-warning">
    @for(e <- productForm.globalErrors) {
        @e.message<br />
    }
</p>
}

@if(flash.containsKey("error")) {
<div class="alert alert-danger">
    @flash.get("error")
</div>
}

<div class="add-product-form">
    @helper.form(action=controllers.routes.ProductController.addGraphicsCardSubmit(pid), 'class -> "form-horizontal",
    'role -> "form", 'method -> "POST") {

    @CSRF.formField

    @select(
        productForm("product.productID"), options(Product.options("graphics")), '_label -> "", '_default -> "-- Choose a GPU --",
        '_showConstraints -> false, 'class -> "form-control"
    )

    @select(
        field = productForm("manufacturer"), 
        options = options(
            "ASUS"->"ASUS",
            "MSI"->"MSI",
            "Zotac"->"Zotac",
            "ASRock"->"ASRock"
            ),
        '_label -> "",
        '_default -> "-- Choose manufacturer --",
        'class -> "form-control"
    )
    @inputText(productForm("name"), '_label -> "", 'placeholder -> "Name", 'class -> "form-control", '_showConstraints -> false)
    @select(
        field = productForm("bus"), 
        options = options(
            "PCIe 3.0 x16"->"PCIe 3.0 x16",
            "PCIe 3.0 x8"->"PCIe 3.0 x8",
            "PCIe 3.0 x4"->"PCIe 3.0 x4",
            "IGP"->"IGP",
            "PCIe 2.0 x16"->"PCIe 2.0 x16",
            "PCIe 1.0 x16"->"PCIe 1.0 x16"
            ),
            '_label -> "",
            '_default -> "-- Choose bus --",
            'class -> "form-control"
    )
    @select(
        field = productForm("memory"),
         options = options(
            "11 GB, GDDR6, 352 bit"->"11 GB, GDDR6, 352 bit",
            "6 GB, GDDR6, 192 bit"-> "6 GB, GDDR6, 192 bit",
            "8 GB, GDDR5, 256 bit"->"8 GB, GDDR5, 256 bit",
            "2 GB, GDDR5, 128 bit"->"2 GB, GDDR5, 128 bit",
            "11 GB, GDDR5X, 352 bit"->"11 GB, GDDR5X, 352 bit",
            "System shared"->"System shared",
            ),
            '_label -> "",
            '_default -> "-- Choose memory --",
            'class -> "form-control"
    )
    @inputText(productForm("gpuClock"), '_label -> "", 'placeholder -> "GPU clock frequency - ex. 1500 MHz", 'class -> "form-control", '_showConstraints -> false)
    @inputText(productForm("memoryClock"), '_label -> "", 'placeholder -> "Memory clock frequency - ex. 800 MHz", 'class -> "form-control", '_showConstraints -> false)
    @inputText(productForm("productId"), '_label -> "", 'hidden -> "hidden")

</div>

<div class="actions">

    @if(heading=="Add GPU info to BLDPC"){
        <input type="submit" value="Add GPU" class="btn btn-primary" />
    } else {
        <input type="submit" value="Update" class="btn btn-primary" />
    }

    <!-- <input type="button" value="Cancel" class="btn btn-danger"
        onclick="window.location.href = '@routes.HomeController.index()';"> -->

</div>
}
}