@(productForm: Form[models.Product], user: models.users.User, heading: String)
@import helper._

@main("Add product", user) {
<h3>@heading</h3>

@if(productForm.hasGlobalErrors) {
<p class="alert alert-warning">
    @for(e <- productForm.globalErrors) {
        @e.message<br />
    }
</p>
}

@if(flash.containsKey("error")) {
<div class="alert alert-danger">
    @flash.get("error")
</div>
}

<div class="add-product-form">
    @helper.form(action=controllers.routes.ProductController.addProductSubmit(), 'class -> "form-horizontal",
    'role -> "form", 'method -> "POST" , 'enctype -> "multipart/form-data") {

    @* CSRF attack prevention *@
    @CSRF.formField

    @inputText(productForm("productName"), '_label -> "", 'placeholder -> "Product Name", 'class -> "form-control", '_showConstraints -> false)
    
    @textarea(field = productForm("productDescription"), args='rows -> 4, 'cols -> 50, 'placeholder -> "Description", '_label -> "", '_showConstraints -> false)
    @inputText(productForm("productQty"), '_label -> "", 'placeholder -> "In Stock", 'class -> "form-control", '_showConstraints -> false)
    @inputText(productForm("productPrice"), '_label -> "", 'placeholder -> "Price", 'class -> "form-control", '_showConstraints -> false)
    @select(
        productForm("category.id"), options(Category.options), '_label -> "Category", '_default -> "-- Choose a category --",
        '_showConstraints -> false, 'class -> "form-control"
    )

    <label>Upload image</label>
    <input class="btn-sm btn-default" type="file" name="upload">

    @inputText(productForm("productID"), '_label -> "", 'hidden -> "hidden")


</div>

<div class="actions">

    <input type="submit" value="Add/Update product" class="btn btn-primary" />

    <input type="button" value="Cancel" class="btn btn-danger"
        onclick="window.location.href = '@routes.ProductController.productList(0, "")';">

</div>
}
}