@(products: List[models.Product], user: models.users.User, env: play.api.Environment)
@main("Home page", user){


	<Style>
	.slider
{
 overflow: hidden;
 height: 100%;
 width: 100%;

}
.slider figure div
{
 float: left;
 width:20%;      

 
}
.slider figure img
{
	width:100%;
    float: left;
    height: 100%;
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 35s slidy infinite;
}
@@keyframes slidy{
	0%
	{
		left:0%;
	}
	10%
	{
		left:0%;	
	}
	12%
	{
	 	left: -100%;
	}
	22%{
		left: -100%;
	}
	24%
	{
		left:-200%;
	}
	34%{
		left:-200%;
	}
	36%{
		left:-300%;
	}
	46%{
		left: -300%;
	}
	48%{
		left:-400%;
	}
    58%{
		left:-400%;
	}
    60%{
		left:-300%;
	}
    70%{
		left:-300%;
	}
    72%{
		left:-200%;
	}
    82%{
		left:-200%;
	}
    84%{
		left:-100%;
	}
    94%{
		left:-100%;
	}
    96%{
		left:0%;
	}


 
}
	</Style>
	<div class ="slider">
			<figure>
								 <div class="slide"><img src="/assets/images/productImages/intel.jpg" alt="Game store logo"/></div>
			 <div class="slide"><img src="/assets/images/productImages/MSI.jpg" alt="CSGO Picture" /></div>
			 <div class="slide"><img src="/assets/images/productImages/106.jpg" alt="ATA Picture" /></div>
			 <div class="slide"><img src="/assets/images/productImages/111.jpg" alt="League Picture" /></div>
								 <div class="slide"><img src="/assets/images/productImages/Acer.jpg" alt="Just cause 3 Picture" /></div>
										</figure>
								</div>
}