@(loginForm: Form[models.users.Login], user: models.users.User)
@import helper._

@main("Login", user) {
  <style>
  body{
    margin: 0;
  background-image: url(https://i.stack.imgur.com/p9mUO.jpg); 
  background-repeat: repeat;
  background-size: 100%; 
  color: white;
  }  
   
    </style>
  <!-- Display login errors if there are any-->
  @if(loginForm.hasGlobalErrors) {
  <p class="alert alert-warning  ">
    @for(e
    <- loginForm.globalErrors) { @e.message<br />
    }
  </p>
  }

  @* Display error message from flash *@
  @if(flash.containsKey("error")) {
  <div class="alert alert-success  ">
    @flash.get("error")
  </div>
  }

  <!--The login form-->
  @helper.form(action = controllers.routes.LoginController.loginSubmit()) {

  @* CSRF attack prevention *@
  @CSRF.formField
  <div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
      <span class="glyphicon glyphicon-user"></span>
      @inputText(loginForm("email"), '_label -> "",
      'class -> "input", 'placeholder -> "Email")
    </div>

    <div class="textbox">
      <span class="glyphicon glyphicon-lock"></span>
      @inputPassword(loginForm("password"), '_label -> "",
      'class -> "input", 'placeholder -> "Password")
    </div>

    <input type="submit" value="Sign In" class="btn login-btn">
    <input type="button" value="Register" class="btn login-btn"
      onclick="window.location.href = '@routes.LoginController.register()'">
    <input type="button" value="Cancel" class="btn login-btn"
      onclick="window.location.href = '@routes.HomeController.index()';">

  </div>
  } @* End of form *@
} @* End of main *@
