@(products: List[models.Product], specs: List[models.products.ProductSkeleton], categories: List[models.Category], user:
models.users.User, env: play.api.Environment)
@main("Product List", user){

<div class="cats">
    <h2>Categories</h2>
    <ul class="list-group">
        <a href="@routes.ProductController.productList(0, "")" class="list-group-item">All Categories</a>
        @for(c<-categories) { <a href="@routes.ProductController.productList(c.getId(), "")"
            class="list-group-item">@c.getName
            <span class="badge">@c.getItems.size</span>
            </a>
            }
    </ul>
    @if((user != null) && (user.getRole().equals("customer"))) {
        <div class="product-list-show-cart"><a href="@routes.ShoppingController.showCart" 
            class="btn btn-default btn-lg">View cart</a></div>
    }
    <!-- this is displayed only to administrators -->
    @if((user != null) && (user.getRole().equals("admin"))) {
        <input type="button" value="Add Product" class="btn btn-primary btn-lg"
            onclick="window.location.href = '@routes.ProductController.addProduct()';">
    }
    
</div>

<div class="product-list">
    <h2>List of all available products @specs.size</h2>
    @for(p<-specs) { 
    <div class="hide">
       
            @if(p.isInstanceOf[models.products.Processor]){
                @p.asInstanceOf[models.products.Processor] 
            } else if(p.isInstanceOf[models.products.Ram]){ 
                @p.asInstanceOf[models.products.Ram] 
            } else if(p.isInstanceOf[models.products.GraphicsCard]){ 
                @p.asInstanceOf[models.products.GraphicsCard] 
            } else if(p.isInstanceOf[models.products.Motherboard]){
                @p.asInstanceOf[models.products.Motherboard] 
            } else if(p.isInstanceOf[models.products.Storage]){
                @p.asInstanceOf[models.products.Storage]
            } else if(p.isInstanceOf[models.products.TrendingPC]){
                @p.asInstanceOf[models.products.TrendingPC]
            }  
    </div>
        <div id="container">

        <div class="product-details">

            <!-- 	Product Name -->

            <h1>@p.getName</h1>
            <!-- 		the Product rating -->
            <span class="hint-star star">
                @p.getProduct.getOverallRating
            </span>
            


            <!-- The most important information about the product -->
            <p class="information">" Best PC IN THE WORLD "</p>



            <!-- Control -->
            <div class="control">


                <button class="btn" onclick="showCart()">

                    <span class="price">@p.getProduct.getProductPrice $</span>

                    <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>

                    <span class="buy">Buy Now</span>
                </button>
            </div>
        </div>
        <!-- 	End	Product details   -->
        <!-- 	Start product image & Information -->
        <div class="product-image">

            <img src="/assets/images/productImages/100.jpg" alt="">

            <!-- 	product Information-->
            <div class="info">
                <h2>The Description</h2>
                <ul>
                    <li><strong>1080ti: </strong>GPU</li>
                    <li><strong>i7 8700k: </strong>CPU</li>
                    <li><strong>Z700: </strong>Mother Board</li>
                    <li><strong>EVGA PS: </strong>Power Supply</li>
                    <li><strong>VEGENCE in: </strong>RAM</li>
                    <li><strong>COARSAIR: </strong>Case</li>
                </ul>
            </div>
        </div>
        <!--  End product image  -->
</div>
}
</div>


}