@(product: models.Product, reviews: List[models.Review], filtered: List[models.Review], reviewForm: Form[models.Review], productForm: Form[models.Product], user: models.users.User, env: play.api.Environment)
@import helper._

@main("Product", user) {

    @if(reviewForm.hasGlobalErrors) {
        <p class="alert alert-warning">
            @for(e <- reviewForm.globalErrors) {
                 @e.message<br />
            }
        </p>
        }
        
        @if(flash.containsKey("error")) {
        <div class="alert alert-danger">
            @flash.get("error")
        </div>
        }

    <div class="product-container">
        <div class="product-title-div">@product.getProductName</div> <!-- row 1 -->

        <div class="product-image-div">
            @if(env.resource("public/images/productImages/" + product.getProductID + ".jpg").isDefined){
            <td><img src="/assets/images/productImages/@(product.getProductID + ".jpg")" class="product-image-solo" /></td>
            } else {
            <td><img src="/assets/images/productImages/noImage.jpg" /></td>
            }
        </div> <!-- row 2 and 3 -->

        <div class="product-description-div">@product.getProductDescription</div> <!-- row 2 -->
        <div class="add-to-cart">
                @if((user != null) && (user.getRole().equals("customer"))){
                    @if(product.getProductQty() > 0){
                        <td><a href="@routes.ShoppingController.addToCart(product.getProductID)" 
                        class="btn btn-default btn-lg"><span 
                        class="glyphicon glyphicon-shopping-cart"></span></a></td>
                    }else{
                        <td><img src="/assets/images/nostock.jpg"/></td>
                    }
                } else {
                    <td><a href="@routes.ProductController.updateItem(product.getProductID)" 
                        class="btn btn-default btn-lg"><span 
                        class="glyphicon glyphicon-pencil"></span></a></td>
                }
        </div> <!-- row 3 -->
        <div class="qty-and-price">

                <p>&euro; @product.getProductPrice</p>
            

        </div> <!-- row 3 -->

        

    </div>
    <div class="solo-product-back-btn">
        <p class="text-right">
            <a href="@routes.ProductController.productList(0, "")" class="btn btn-primary">
            Back</a> <!-- css is in main.css/individual product/solo-product-back-btn -->
        </p>
    </div>

    <div class="reviews">
    <div class="add-review-form">
        <h4>You already have this product or recently pruchased it? Please leave your feedback to inform others.</h4>
        @helper.form(action=controllers.routes.ProductController.addReviewSubmit(), 'class -> "form-horizontal",
            'role -> "form", 'method -> "POST") {

            @CSRF.formField

            @textarea(field = reviewForm("body"), args='rows -> 4, 'cols -> 50, 'placeholder -> "Rate this item and leave feedback..", '_label -> "", '_showConstraints -> false)
            @inputText(reviewForm("rating"), '_label -> "", 'placeholder -> "Rate - 1 to 5", 'class -> "dark-font", '_showConstraints -> false)
            
            <div class="hide">
                @inputText(reviewForm("id"), '_label -> "", 'hidden -> "hidden", '_showConstraints -> false)
                @inputText(productForm("productID").copy(value=Some(product.getProductID.toString)), '_label -> "", 'hidden -> "hidden", '_showConstraints -> false)
                @inputText(productForm("productName").copy(value=Some(product.getProductName)), '_label -> "", 'hidden -> "hidden", '_showConstraints -> false)
                @inputText(productForm("productDescription").copy(value=Some(product.getProductDescription)), '_label -> "", 'hidden -> "hidden", '_showConstraints -> false)
                @inputText(productForm("productQty").copy(value=Some(product.getProductQty.toString)), '_label -> "", 'hidden -> "hidden", '_showConstraints -> false)
                @inputText(productForm("productPrice").copy(value=Some(product.getProductPrice.toString)), '_label -> "", 'hidden -> "hidden", '_showConstraints -> false)
            </div>
            <div class="actions">

                <input type="submit" value="Place review" class="btn btn-primary" />
                
            </div>
        }
    </div>
    <div class="product-reviews">
        @for(r<-reviews) {
            @if(r.getProduct.getProductName == product.getProductName){
                @filtered.add(r)
            }
        }
        @for(f <- filtered){
            @if(filtered.isEmpty){
                <p>This product does not have any reviews</p>
            } else {
                <div class="col-sm-10">
                    <h2>Customer reviews</h2>
                
                        @if((user != null) && (user.getRole().equals("admin"))) {
                            <div class="review-username"><a href="@routes.ProductController.userReviews(f.getUser.getEmail)">
                            <h3>@f.getUser.getUsername</h3></a></div>
                        } else {
                            <div class="review-username"><h3>@f.getUser.getUsername</h3></div>
                        }
                        <div class="review-rating">Rated: @f.getRating</div>
                        <div class="review-body"><p>@f.getBody</p></div>
                </div>
            }
        }
    </div>
            
    </div>
}