@(products: List[models.Product], specs: List[models.products.ProductSkeleton], categories: List[models.Category], user:
models.users.User, env: play.api.Environment)
@main("Product List", user){
<link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/product-list.css")"> <meta name="viewport"
    content="width=device-width, initial-scale=1">

<div class="cats">
    <h2>Categories</h2>
    <ul class="list-group">
        <a href="@routes.ProductController.productList(0, "")" class="list-group-item">All Categories</a>
        @for(c<-categories) { <a href="@routes.ProductController.productList(c.getId(), "")"
            class="list-group-item">@c.getName
            <span class="badge">@c.getItems.size</span>
            </a>
            }
    </ul>
    @if((user != null) && (user.getRole().equals("customer"))) {
        <div class="product-list-show-cart"><a href="@routes.ShoppingController.showCart" 
            class="btn btn-default btn-lg">View cart</a></div>
    }
    <!-- this is displayed only to administrators -->
    @if((user != null) && (user.getRole().equals("admin"))) {
        <input type="button" value="Add Product" class="btn btn-primary btn-lg"
            onclick="window.location.href = '@routes.ProductController.addProduct()';">
    }
    
</div>

<div class="product-list">
    <h2>List of all available products @specs.size</h2>
    @for(p<-specs) { 
    <div class="hide">
       
            @if(p.isInstanceOf[models.products.Processor]){
                @p.asInstanceOf[models.products.Processor] 
            } else if(p.isInstanceOf[models.products.Ram]){ 
                @p.asInstanceOf[models.products.Ram] 
            } else if(p.isInstanceOf[models.products.GraphicsCard]){ 
                @p.asInstanceOf[models.products.GraphicsCard] 
            } else if(p.isInstanceOf[models.products.Motherboard]){
                @p.asInstanceOf[models.products.Motherboard] 
            } else if(p.isInstanceOf[models.products.Storage]){
                @p.asInstanceOf[models.products.Storage]
            } else if(p.isInstanceOf[models.products.TrendingPC]){
                @p.asInstanceOf[models.products.TrendingPC]
            }  
    </div>
    <div id="container">	
	
        <!-- Start	Product details -->
            <div class="product-details">
                
                <!-- 	Product Name -->
            <h1 class="product-list-ptitle"><a href="@routes.ProductController.displayProduct(p.getProduct.getProductName)">@p.getName</a></h1>
        <!-- 		the Product rating -->
            <span class="hint-star star">
                <!-- <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i> -->
            </span>
                
            
        <!-- The most important information about the product -->
                <p class="information"> @p.getProduct.getProductDescription</p>
        
                
                
        <!-- 		Control -->
        <div class="control">
            
        <!-- Start Button buying -->
            <button class="btn1">
        <!-- 		the Price -->
             <span class="price">@p.getProduct.getProductPrice $</span>
        <!-- 		shopping cart icon-->
           <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
        <!-- 		Buy Now / ADD to Cart-->
           <span class="buy">Buy Now</span>
         </button>
            <!-- End Button buying -->
            
        </div>
                    
        </div>
            
        <!-- 	End	Product details   -->
        <!-- 	Start product image & Information -->
            
        <div class="product-image">
            
            <!-- <img src="/assets/images/productImages/100.jpg" alt=""> -->
    
            @if(env.resource("public/images/productImages/" + p.getProduct.getProductID + ".jpg").isDefined){
                <img src="/assets/images/productImages/@(p.getProduct.getProductID + ".jpg")" alt="">
                    } else {
                        <img src="/assets/images/productImages/noImage.jpg" />
                        }
            
        <!-- 	product Information-->
        <a href="@routes.ProductController.displayProduct(p.getProduct.getProductName)">
            <div class="info">
                <h2>The Description</h2>
                <ul>
                    <li><strong>CPU: </strong>@p.getName</li>
                    <li><strong>GPU: </strong>@p.</li>
                    <li><strong>RAM: </strong>9 - 11</li>
                    <li><strong>Motherboard: </strong>2 - 3 feet</li>
                    <li><strong>Storage: </strong>Mid‑Summer - Mid‑Fall</li>
                    <!-- <li><strong>Features: </strong>Tolerates heat</li> -->
                </ul>
            </div>
        </a>
        </div>
        <!--  End product image  -->
        
        
        </div>
    }

    }