@(p: models.Product)
    @if((p.getOverallRating >= 0) && (p.getOverallRating < 0.5)){
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    } else if((p.getOverallRating >= 0.5) && (p.getOverallRating < 1)){
        <span class="glyphicon glyphicon-star half"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    } else if((p.getOverallRating >= 1) && (p.getOverallRating < 1.5)){
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    } else if((p.getOverallRating >= 1.5) && (p.getOverallRating < 2)){
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star-half-o checked"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    } else if((p.getOverallRating >= 2) && (p.getOverallRating < 2.5)){
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    } else if((p.getOverallRating >= 2.5) && (p.getOverallRating < 3)){
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star-half-o checked"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    } else if((p.getOverallRating >= 3) && (p.getOverallRating < 3.5)){
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    } else if((p.getOverallRating >= 3.5) && (p.getOverallRating < 4)){
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star half checked"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    } else if((p.getOverallRating >= 4) && (p.getOverallRating < 4.5)){
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    } else if((p.getOverallRating >= 4.5) && (p.getOverallRating < 5)){
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star half checked"></span>
    } else {
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
        <span class="glyphicon glyphicon-star checked"></span>
    }
    <span>(@p.getCountRating)</span>
