@(userForm: Form[models.users.PasswordCheck], user: models.users.User, heading: String)
@import helper._

@main("Register", user) {
    <style>
        body{
          margin: 0;
        background-image: url(assets/images/registerback.jpg); 
        background-repeat: no-repeat;
        background-size: 100%; 
        color: white;
        }  
    </style>



    @if(userForm.hasGlobalErrors) {
        <p class="alert alert-warning  ">
            @for(e <- userForm.globalErrors) { @e.message<br/> 
            }
            <!-- Make  -->
        </p>
    }

    @* Display error message from flash *@
    @if(flash.containsKey("error")) {
        <div class="alert alert-danger  ">
            @flash.get("error")
        </div>
    }
    
    @helper.form(action=controllers.routes.LoginController.registerSubmit(), 'class -> "form-horizontal", 'role -> "form", 'method -> "POST") {
        @* CSRF attack prevention *@
        @CSRF.formField
        
   <div class="box">

       <h1>@heading</h1>

                @inputText(userForm("email"), '_label -> "",
                'class -> "input", 'placeholder -> "Email", '_showConstraints -> false)
            
                @inputText(userForm("username"), '_label -> "",
                'class -> "input", 'placeholder -> "Username", '_showConstraints -> false)
           
                @inputPassword(userForm("password"), '_label -> "",
                'class -> "input", 'placeholder -> "Password", '_showConstraints -> false)
           
                @inputPassword(userForm("password2"), '_label -> "",
                'class -> "input", 'placeholder -> "Confirm Password", '_showConstraints -> false)
         
                @inputText(userForm("address"), '_label -> "",
                'class -> "input", 'placeholder -> "Address", '_showConstraints -> false)
    
                @inputText(userForm("mobileNumber"), '_label -> "",
                'class -> "input", 'placeholder -> "Mobile Number", '_showConstraints -> false)
            
                @inputText(userForm("role").copy(value=Some("customer")), '_label -> "", 'hidden -> "hidden")
       
   
            <input type="submit" value="Sign up" class="btn"/>
            
            <input type="button" value="Cancel" class="btn"
            onclick="window.location.href = '@routes.LoginController.login()';">
            
        </div>
    }

 
}
