@(user: models.users.User)
@main("User List", user){
<!-- CANNOT USE A LIST OF USERS??? -->
        
    <div class="col-sm-10">
        <h4>List of all users</h4>

        <table class="table table-bordered table-condensed" style="border: 1px solid #337ab7;">
            <thead class="thead-dark">
                <tr>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Address</th>
                    <th>Mobile number</th>
                    <th>Role</th>
                </tr>
            </thead>
            <!-- End of table header -->
            <div class="table">
                <tbody>
                    <!-- User row(s) -->

                    <!-- SEE TEXT DOCUMENT CALLED USER-LIST-TABLE -->

                </tbody>
            </div>


        </table>
        
    </div>
}