@(user: models.users.User)

@main("Activation Page", user) {
  <style>
  body{
    background-color: #221F1F;
  color: white;
  }  
  .sub-header .left-menu li a, .sub-header .right-menu li a, .sub-header .logo a{
  color: whitesmoke;
}
.sub-header .left-menu li a:hover, .sub-header .right-menu li a:hover{
  color: #221F1F;
}
#site-footer
{
  position: static;
  margin-top: 10.8em;
}
</style>
<h1>Please check your email for a link to our login page in order to approve your email address!</h1>

} @* End of form *@



