@(productForm: Form[models.products.Motherboard], pid: Long, user: models.users.User, heading: String)
@import helper._

@main("Add product info", user) {

@if(productForm.hasGlobalErrors) {
<p class="alert alert-warning  ">
    @for(e <- productForm.globalErrors) {
        @e.message<br />
    }
</p>
}


<div class="add-product-form">
    <h3>@heading</h3>

    @helper.form(action=controllers.routes.ProductController.addMotherboardSubmit(pid), 'class -> "form-horizontal",
    'role -> "form", 'method -> "POST") {

    @CSRF.formField

    @select(
        field = productForm("manufacturer"), 
        options = options(
            "ASRock"->"ASRock",
            "Asus"->"Asus",
            "Biostar"->"Biostar",
            "EVGA"->"EVGA",
            "Gigabyte"->"Gigabyte",
            "MSI"->"MSI"
            ),
        '_label -> "",
        '_default -> "-- Choose manufacturer --",
        'class -> "form-control",
        '_showConstraints -> false
    )
    @inputText(productForm("name"), '_label -> "", 'placeholder -> "Short product name", 'class -> "form-control", '_showConstraints -> false)
    @select(
        field = productForm("ramSlots"), 
        options = options(
            "2 slots"->"2 slots",
            "3 slots"->"3 slots",
            "4 slots"->"4 slots",
            "8 slots"->"8 slots"
            ),
            '_label -> "",
            '_default -> "-- How many RAM slots? --",
            'class -> "form-control",
            '_showConstraints -> false
    )
    @select(
        field = productForm("maxRam"),
         options = options(
            "32 GB"->"32 GB",
            "48 GB"-> "48 GB",
            "64 GB"->"64 GB",
            "128 GB"->"128 GB",
            "256 GB"->"256 GB"
            ),
            '_label -> "",
            '_default -> "-- Choose max supported RAM --",
            'class -> "form-control",
            '_showConstraints -> false
    )
    @inputText(productForm("productId"), '_label -> "", 'hidden -> "hidden")

</div>

<div class="actions">

    @if(heading=="Add motherboard info to BLDPC"){
        <input type="submit" value="Add GPU" class="btn btn-primary" />
    } else {
        <input type="submit" value="Update" class="btn btn-primary" />
        <input type="button" value="Cancel" class="btn btn-danger"
            onclick="window.location.href = '@routes.ProductController.productList(0, "")';">
    }

</div>
}
}