@(productForm: Form[models.products.Storage], pid: Long, user: models.users.User, heading: String)
@import helper._

@main("Add product info", user) {

@if(productForm.hasGlobalErrors) {
<p class="alert alert-warning  ">
    @for(e
    <- productForm.globalErrors) { @e.message<br />
    }
</p>
}

<div class="add-product-form">
    <h3>@heading</h3>
    @helper.form(action=controllers.routes.ProductController.addProcessorSubmit(pid), 'class -> "form-horizontal",
    'role -> "form", 'method -> "POST") {

    @CSRF.formField
    
    @select(
        field = productForm("manufacturer"),
        options = options(
        "Seagate"->"Seagate",
        "Toshiba"->"Toshiba",
        "Maxtor"->"Maxtor",
        "Western Digital"->"Transcend Digital"
        ),
        '_label -> "",
        '_default -> "-- Choose manufacturer --",
        'class -> "form-control",
        '_showConstraints -> false
    )
    @inputText(productForm("name"), '_label -> "", 'placeholder -> "Short product name", 'class -> "form-control", '_showConstraints -> false)
    @select(
        field = productForm("capacity"),
        options = options(
        "1 TB"->"1 TB",
        "2 TB"->"2 TB",
        "3 TB"->"3 TB",
        "4 TB"->"4 TB",
        "5 TB"->"5 TB",
        "6 TB"->"6 TB",
        "8 TB"->"8 TB"
        ),
        '_label -> "",
        '_default -> "-- What size? --",
        'class -> "form-control",
        '_showConstraints -> false   
    )
    <div class="hide">
        @inputText(productForm("productId"), '_label -> "", 'hidden -> "hidden")
    </div>
</div>

<div class="actions">

    @if(heading=="Add storage memory info to BLDPC"){
        <input type="submit" value="Add product" class="btn btn-primary" />
    } else {
        <input type="submit" value="Update" class="btn btn-primary" />
        <input type="button" value="Cancel" class="btn btn-danger"
            onclick="window.location.href = '@routes.ProductController.productList(0, "")';">
    }
</div>
}
}