@(user: models.users.User)
@main("Contact us", user){
    <h1>Contact Us</h1>
    <h3>Technical problems with account or annoyed by a bug while browsing?<br>
    Please get in touch with us if you have any requests or queries.</h3>
    <hr>
    <h4><span class="glyphicon glyphicon-envelope"></span> Email: bldpcproject@@gmail.com</h4>
    <hr>
    <h4><span class="glyphicon glyphicon-earphone"></span> Mobile: 0859615781</h4>
    <hr>
    <h4><span class=" glyphicon glyphicon-home"></span> Address: TUD Tallaght Campus<br>
        &emsp;&emsp;&emsp;Blessington Rd, Tallaght,<br>
        &emsp;&emsp;&emsp;Dublin 24, D24 FKT9</h4>
}