@(threads: List[models.Forum], forumForm: Form[models.Forum], user: models.users.User)
@import helper._
@main("Forum",user){

    @if(forumForm.hasGlobalErrors) {
        <p class="alert alert-warning">
          @for(e
          <- forumForm.globalErrors) { @e.message<br />
          }
        </p>
        }
       <div id="forum">
        <div class ="col-sm-12">
          <div class="add-forum-form">
              <h1>BLDPC forum</h1>
          <!-- form to add a new forum -->
          @if(user != null){
            @helper.form(action = controllers.routes.HomeController.addThread(user.getEmail), 'class -> "form-horizontal", 'role -> "form", 'method -> "POST"){

            @CSRF.formField
            
            @inputText(forumForm("title"), '_label -> "",
            'class -> "input", 'placeholder -> "Thread title", 'maxLength -> "254", 'class -> "form-control", '_showConstraints -> false)          

            @textarea(field = forumForm("body"), args='rows -> 4, 'cols -> 50, 'placeholder -> "Start a new thread", 'maxLength -> "254", '_label -> "", 'class -> "form-control", '_showConstraints -> false)

          <div class="hide">
            @inputText(forumForm("id"), '_label -> "", 'hidden -> "hidden"));
          </div>
          <div class="actions">

              <input type="submit" value="Start thread" class="btn btn-primary" />
        
            </div>
          }
        }
      <div class="forum-topics">
          @if(threads.size > 0){
              @for(t <- threads){
                  <h3><a href="@routes.HomeController.displayThread(t.getTitle)">@t.getTitle</a></h3>
                  <h4>Replies: @t.getComments.size</h4>
                  <h4>@t.getUser.getUsername</h4>

                  @if(user != null && user.getRole == "admin"){
                    <a href="@routes.HomeController.deleteThread(t.getId)" class="btn btn-danger btn-sm"
                            onclick="confirmDel()"> DELETE </a>
                  }
              }
          } else {
              <h1>No threads to display</h1>
          }
      </div> 
      </div> 
    </div>
  </div>
        <!-- end of add-forum-form -->
     
        <!-- end of forum-topics -->
}