@(title: String, user: models.users.User)(content: Html)
@import helper._

<!DOCTYPE html>
<html lang="en">
<style>
.header{
  z-index: 99;
}
</style>
<head>


  <title>@title</title>
  <meta charset="utf-8">
 <link rel="shortcut icon" href="@routes.Assets.versioned("/images/logo.ico")"> <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/main.css")"> <meta name="viewport"
    content="width=device-width, initial-scale=1">

</head>


<header class="bg-image">
  <div class="bw-gradient"></div>
  <div class="header">
      <div class="sub-header">
              <ul class="left-menu">
                      <li><a href="@routes.HomeController.index">Home</a></li>
                      <li><a href="@routes.ProductController.productList(0,"")">Products</a></li>
                      @if((user != null) && (user.getRole().equals("customer"))) {
                        <li><a href="@routes.LoginController.updateUser(user.getEmail)">Update account</a></li>
                      } else if(user != null && user.getRole.equals("admin")){
                        @if(flash.containsKey("warning") && flash.get("warning").contains("Restock needed!") || title.equals("Low stock") || title.equals("Statistics")){
                          <li><a href="@routes.ProductController.lowStockProducts()">Low stock</a></li>
                        }
                        <li><a href="@routes.HomeController.stats">Stat</a></li>
                      }
                      
                  </ul>
                  <div class="logo">
                      <a href="@routes.HomeController.index()">BLDPC</a>
                  </div>
                  <ul class="right-menu">
                    @if((user != null) && (user.getRole().equals("admin"))) {
                      <li><a href="@routes.ProductController.allReviews()">Reviews</a></li>
                      <li><a href="@routes.LoginController.userList()">Users</a></li>
                    }
                    @if((user != null) && (user.getRole().equals("customer"))) {
                      <li><a href="@routes.ShoppingController.viewOrders">my orders</a></li>
                      <li><a href="@routes.ShoppingController.showCart">My cart</a></li>
                    }
                    @if(user != null){
                    <li><a href="@routes.LoginController.logout()">Log out</a></li>
                    } else {
                    <li><a href="@routes.LoginController.login()">Log in</a></li>
                    }
                    <li class="search">
                      <input type="text" id="search" name="" class="text" placeholder="Search..."/>
                      <button onclick="search()" class="btn btn-default btn-md">GO</button>
                    </li>
                  </ul>
      </div>

  </div>

</header>

<body>
  @if(flash.containsKey("success")){
    <div class="alert alert-success">
      @flash.get("success")
    </div>
  }
  @if(user != null && flash.containsKey("warning") && user.getRole.equals("admin")){
    <div class="alert alert-warning">
      @flash.get("warning")
    </div>
  }

  @if(flash.containsKey("error")){
    <div class="alert alert-danger">
      @flash.get("error")
    </div>
  }
  <div class="content">
    @content
  </div>
</body>

<!-- Scripts -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
  integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>


<!-- Nav -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- main javascript file -->
<script src="/assets/javascripts/main.js"></script>
</html>
