@(specs: List[models.products.ProductSkeleton], categories: List[models.Category],
 user: models.users.User, env: play.api.Environment, currentCat: String)
@main("Product List", user){
<link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/product-list.css")">

<div class="cats">
    <h2>Filter by</h2>
    <ul class="list-group">
        <a href="@routes.ProductController.productList(0, "")" class="list-group-item">All Categories</a>
        @for(c<-categories) { <a href="@routes.ProductController.productList(c.getId(), "")"
            class="list-group-item">@c.getName
            <span class="badge">@c.getItems.size</span>
            </a>
            }
    </ul>
    @if((user != null) && (user.getRole().equals("customer"))) {
        <div class="product-list-show-cart"><a href="@routes.ShoppingController.showCart"
            class="btn btn-default btn-lg">View cart</a></div>
    }
    <!-- this is displayed only to administrators -->
    @if((user != null) && (user.getRole().equals("admin"))) {
        <input type="button" value="Add Product" class="btn btn-primary btn-lg"
            onclick="window.location.href = '@routes.ProductController.addProduct()';">
    }
</div>

<div class="product-list">
    <h3>Displaying @specs.size products</h3>
    @for(p<-specs) {
        @templateProducts(p, user, env, currentCat)
    }
    </div>
    }
