@(userForm: Form[models.users.PasswordCheck], user: models.users.User, heading: String)
@import helper._

@main("Register", user) {
    <style>
        body{
            margin: 0;
            background-image: url(assets/images/registerback.jpg); 
            background-repeat: repeat;
            background-size: 100%; 
            color: white;
        }  
    </style>



    @if(userForm.hasGlobalErrors) {
        <p class="alert alert-warning  ">
            @for(e <- userForm.globalErrors) { @e.message<br/> 
            }
            <!-- Make  -->
        </p>
    }
    
    @helper.form(action=controllers.routes.LoginController.registerSubmit(), 'class -> "form-horizontal", 'role -> "form", 'method -> "POST") {
        @* CSRF attack prevention *@
        @CSRF.formField
        
   <div class="box">

       <h1>@heading</h1>
                @inputText(userForm("realName"), '_label -> "",
                'class -> "input", 'placeholder -> "Name", 'maxLength -> "254", '_showConstraints -> false)

                @inputText(userForm("email"), '_label -> "",
                'class -> "input", 'placeholder -> "Email", 'maxLength -> "254", '_showConstraints -> false)
            
                @inputText(userForm("username"), '_label -> "",
                'class -> "input", 'placeholder -> "Username", 'maxLength -> "254", '_showConstraints -> false)

                @inputPassword(userForm("password"), 'type -> "password", '_label -> "",
                'class -> "input", 'placeholder -> "Password", 'maxLength -> "254", 'minLength -> "8", '_showConstraints -> false, 'id -> "pass")

                <input type="checkbox" onclick="myFunction()">Show Password

                @inputPassword(userForm("password2"), 'type -> "password",'_label -> "",
                'class -> "input", 'placeholder -> "Confirm Password", 'maxLength -> "254", 'minLength -> "8", '_showConstraints -> false,'id -> "pass2")
                
                <input type="checkbox" onclick="myFunction2()">Show Password

                @inputText(userForm("address"), '_label -> "",
                'class -> "input", 'placeholder -> "Address", 'maxLength -> "254", '_showConstraints -> false)
    
                @inputText(userForm("mobileNumber"), '_label -> "",
                'class -> "input", 'placeholder -> "Mobile Number", 'maxLength -> "10", '_showConstraints -> false)
            
                @inputText(userForm("role").copy(value=Some("customer")), '_label -> "", 'hidden -> "hidden")
       
   
            <input type="submit" value="Register" class="btn"  onclick="window.location.href = '@routes.LoginController.activationPage()';">
            
            <input type="button" value="Cancel" class="btn"
            onclick="window.location.href = '@routes.LoginController.login()';">
            
        </div>
    }

 
}
