@(jsonString: String, bestSeller: String, bestSellerSold: Long, revenue: Double, user: models.users.User, heading: String)
@main("Statistics", user){
<style>
  body {
    background-color: white;
  }

  .content {
    padding-top: 0%;
  }

  .sub-header .left-menu li a,
  .sub-header .right-menu li a,
  .sub-header .logo a {
    color: black;
  }
</style>
<div class="stats">
<div class="cats">
  <h2>Filter by</h2>
  <ul class="list-group">
    <a @if(heading == "sales"){
      href="@routes.HomeController.stats()"
    } else {
      href="@routes.HomeController.inStock()"
    } class="list-group-item">All Categories</a>
    @for(c<-Category.findAll) { 
      <a @if(heading == "sales"){
        href="@routes.HomeController.salesStatsCategory(c.getName)"
      } else {
        href="@routes.HomeController.inStockCategory(c.getName)"
      } class="list-group-item">
        @c.getName</a>
      }
  </ul>

</div>

<h1 style="margin-left: 20%;">
  <a href="@routes.HomeController.stats" @if(heading == "sales"){style="background-color: #39f60a; color: black;"}>Sales statistics</a>
  &emsp;&emsp;<a href="@routes.HomeController.inStock" @if(heading == "stock"){style="background-color: #39f60a;color: black;"}>Stock statistics</a>
</h1>
<hr>
<h4 style="margin-left: 12%;">Best selling product for the past 30 days: @bestSeller - @bestSellerSold sold</h4>
<h3 style="margin-left: 12%;">All time revenue: &euro;@("%.2f".format(revenue))</h3>
<h4 style="margin-left: 12%;">(If you have filtered by category, then the displayed value will only inlude the products in that category)</h4>
<div id="pie-chart"></div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<script type="text/javascript">
    google.charts.load('current', {
      packages: ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var jsonString = "@jsonString";
    var newJSON = jsonString.replace(/&#x27;/g, '"');
    // console.log("newJSON: " + newJSON);

    // Define the chart to be drawn.
    var data = new google.visualization.DataTable(newJSON);

    // Instantiate and draw the chart.
    var chart = new google.visualization.PieChart(document.getElementById('pie-chart'));
    var options = {
      title: 'Stats'
      , chartArea: { left: 0, top: 0, width: "100%", height: "100%" }
      , height: 450
      , width: 900
    };
    chart.draw(data, options);

    var selectHandler = function(e) {
      var flag = false;
      switch(data.getValue(chart.getSelection()[0]['row'], 0 )){
        case "CPUs":
        case "Gaming PCs":
        case "Gaming laptops":
        case "Graphics cards":
        case "Home PCs":
        case "Home laptops":
        case "Motherboards":
        case "RAM":
        case "Storage":
        case "Top spec PCs":
        case "Workstations":
          flag= true;
          break;
        default:
          flag = false;
      }
      if(flag){
        if("@heading"=="sales"){
          window.location.href = "http://localhost:9000/stats/sales/" + data.getValue(chart.getSelection()[0]['row'], 0 );
        } else {
          window.location.href = "http://localhost:9000/stats/in-stock/" + data.getValue(chart.getSelection()[0]['row'], 0 );
        }
      }
    }

        // Add our selection handler.
    google.visualization.events.addListener(chart, 'select', selectHandler);
  }
</script>
}