
@(p: models.products.ProductSkeleton, user: models.users.User, env: play.api.Environment, page: String)
    <div id="container">

        <!-- Start	Product details -->
            <div class="product-details">

                <!-- 	Product Name -->
            <h1 class="product-list-ptitle"><a href="@routes.ProductController.displayProduct(p.getProduct.getProductName)">@p.getName</a></h1>
        <!-- 		the Product rating -->
            <span class="hint-star star">
                @rating(p.getProduct)
            </span>


        <!-- The most important information about the product -->
                <p class="information"> @p.getProduct.getProductDescription</p>



        <!-- 		Control -->
        <div class="control">
            @if(p.getProduct.getProductQty > 0){
            <!-- Start buy button -->
                <button class="btn1"
                        onclick="window.location.href='@routes.ShoppingController.addToCart(p.getProductId, page)'">
                    <!--the price -->
                    <span class="price">&euro;@p.getProduct.getProductPrice</span>
                    <!--shopping cart icon-->
                    <span class="shopping-cart"><i class="glyphicon glyphicon-shopping-cart"
                            aria-hidden="true"></i></span>
                    <!--Buy Now / Add to Cart-->
                    <span class="buy">Buy Now</span>
                </button>
            } else {
                <button class="btn1-no-stock" onclick="">
                <!--the price -->
                    <span class="price">&euro;@p.getProduct.getProductPrice</span>

                    <span class="shopping-cart-x"><i
                            class="glyphicon glyphicon-remove"
                            aria-hidden="true"></i></span>
                    <span class="o-o-o">Out of stock</span>
                </button>
            }

            
            <!-- End Button buying -->

        </div>

        </div>

        <!-- 	End	Product details   -->
        <!-- 	Start product image & Information -->

        <div class="product-image">

            <!-- <img src="/assets/images/productImages/100.jpg" alt=""> -->

            @if(env.resource("public/images/productImages/" + p.getProduct.getProductID + ".jpg").isDefined){
                <img src="/assets/images/productImages/@(p.getProduct.getProductID + ".jpg")" alt="">
            } else {
                <img src="/assets/images/productImages/noImage.jpg" />
            }

        <!-- 	product Information-->
        <a href="@routes.ProductController.displayProduct(p.getProduct.getProductName)">
            <div class="info">
                <h3>@p.getName Specs</h3>
                @templateSpecs(p)
                    @if((user != null) && (user.getRole().equals("admin"))) {
                        <input type="button" value="Delete" class="btn btn-danger btn-lg"
                             onclick="window.location.href = '@routes.ProductController.deleteItem(p.getProduct.getProductID)';event.preventDefault();">
                         <input type="button" value="Update" class="btn btn-primary btn-lg"
                         onclick="window.location.href = '@routes.ProductController.updateItem(p.getProduct.getProductID)';event.preventDefault();">
                    }
            </div>
        </a>
        </div>
        <!--  End product image  -->


        </div>