@(namesJson: String, soldJson: String, user: models.users.User)
@main("Test", user){
<script>
var namesJ = "@namesJson";
var soldJ = "@soldJson";
var nJSON = namesJ.replace(/&#x27;/g, '"');
var sJSON = soldJ.replace(/&#x27;/g, '"');
    var options = {
        chart: {
            width: 380,
            type: 'pie',
        },
        labels: nJSON,
        series: sJSON,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    }
    var chart = new ApexCharts(
        document.querySelector("#chart"),
        options
    );

    chart.render();
</script>
<section id="displayResults" style="padding: 30px;">
    <!-- Identify where the chart should be drawn. -->
    <div id="myPieChart" />
</section>
}