@(thread: models.Forum, replyForm: Form[models.Comment], user: models.users.User)
@import helper._
@main("Forum",user){

    @if(replyForm.hasGlobalErrors) {
        <p class="alert alert-warning">
          @for(e
          <- replyForm.globalErrors) { @e.message<br />
          }
        </p>
        }
        
        

         <div class="col-sm-12">
            <div class="reply-to-thread">
                <h1>Thread: @thread.getTitle</h1>
                <div class="thread-body">
                    <h3>@thread.getBody</h3>
                 </div>
                <!-- form to add a new reply to the thread -->
              @helper.form(action = controllers.routes.HomeController.postComment(user.getEmail, thread.getId), 'class -> "form-horizontal", 'role -> "form", 'method -> "POST"){
    
              @CSRF.formField       
    
              @textarea(field = replyForm("body"), args='rows -> 4, 'cols -> 50, 'placeholder -> "Post a reply", '_label -> "", 'class -> "form-control", '_showConstraints -> false)
    
            <div class="hide">
              @inputText(replyForm("id"), '_label -> "", 'hidden -> "hidden"));
            </div>
            <div class="actions">
    
                <input type="submit" value="Post reply" class="btn btn-primary" />
                <a href = "@routes.HomeController.forum " value="Forum" class="btn btn-warning" >Forum</a>
                 
              </div>
            }

            <div class="thread-replies">
                @if(thread.getComments.size > 0){
                    @for(r <- thread.getComments){
                        <h4 style="font-weight: bold;">@r.getUser.getUsername</h4>
                        <h4>@r.getBody</h4>
                        <hr>
                        
                    }
                } else {
                    <h1>This thread has no replies</h1>
                }
            </div> 

            </div>

           
         </div>
         
        
        <!-- end of forum-topics -->
}