@(thread: models.Forum, replyForm: Form[models.Comment], user: models.users.User)
@import helper._
@main("Forum",user){

    @if(replyForm.hasGlobalErrors) {
        <p class="alert alert-warning">
          @for(e
          <- replyForm.globalErrors) { @e.message<br />
          }
        </p>
        }
        
        

         <div class="col-sm-12">
            <div class="reply-to-thread">
                <h1>Thread: @thread.getTitle</h1>
                <div class="thread-body">
                    <h3>@thread.getBody</h3>
                    @if(user != null && user.getRole == "admin"){
                        <a href="@routes.HomeController.deleteThread(thread.getId)" class="btn btn-danger btn-md"
                                onclick="confirmDel()"> Delete thread </a>
                      }
                 </div>
                <!-- form to add a new reply to the thread -->
                @helper.form(action = controllers.routes.HomeController.postComment(user.getEmail, thread.getId), 'class -> "form-horizontal", 'role -> "form", 'method -> "POST"){
        
                @CSRF.formField       
        
                @textarea(field = replyForm("body"), args='rows -> 4, 'cols -> 50, 'placeholder -> "Post a reply", '_label -> "", 'class -> "form-control", '_showConstraints -> false, 'maxLength -> "254")
    
                <div class="hide">
                @inputText(replyForm("id"), '_label -> "", 'hidden -> "hidden"));
                </div>
                <div class="actions">
        
                    <input type="submit" value="Post reply" class="btn btn-primary" />
                    <input type="button" value="Back to Forum" class="btn btn-warning"
                        onclick="window.location.href = '@routes.HomeController.forum()';">
                    
                </div>
                }

                <div class="thread-replies">
                    @if(thread.getComments.size > 0){
                        <h3>Replies</h3>
                        @for(r <- thread.getComments){
                            <h4 style="font-weight: bold;">@r.getUser.getUsername</h4>
                            <h4>@r.getBody</h4> @if(user != null && user.getRole == "admin"){
                                <a href="@routes.HomeController.deleteComment(thread.getTitle, r.getId)" class="btn btn-danger btn-md"
                                onclick="confirmDel()"> Delete reply </a>
                              }
                            <hr>
                            
                            
                        }
                    } else {
                        <h1>This thread has no replies</h1>
                    }
                </div> 
            </div>
         </div>
         
        <!-- end of forum-threads -->
}