@(newPassForm: Form[models.users.PasswordCheck], updateUser: models.users.User, user: models.users.User, heading: String)
@import helper._

@main("Update user", user) {
    <style>
        body{
            margin: 0;
            background-image: url(assets/images/registerback.jpg); 
            background-repeat: repeat;
            background-size: 100%; 
            color: white;
            background-color: #3e4444;
        }  
    </style>



    @if(newPassForm.hasGlobalErrors) {
        <p class="alert alert-warning  ">
            @for(e <- newPassForm.globalErrors) { @e.message<br/> 
            }
            <!-- Make  -->
        </p>
    }
    
    @helper.form(action=controllers.routes.LoginController.updateUserSubmit(updateUser.getEmail), 'class -> "form-horizontal", 'role -> "form", 'method -> "POST") {
        @* CSRF attack prevention *@
        @CSRF.formField
        
   <div class="box">

       <h1>@heading</h1>

            @inputText(newPassForm("email").copy(value=Some(updateUser.getEmail())),
             '_label -> "Email", 'readonly -> "readonly", '_showConstraints -> false)
            
            @inputText(newPassForm("username"), '_label -> "Username",
                'class -> "input", 'placeholder -> "Username", '_showConstraints -> false)
                               
            @inputText(newPassForm("address"), '_label -> "Address",
                'class -> "input", 'placeholder -> "Address", '_showConstraints -> false)
    
            @inputText(newPassForm("mobileNumber"), '_label -> "Mobile number",
                'class -> "input", 'placeholder -> "Mobile Number", '_showConstraints -> false)
            
            @inputPassword(newPassForm("password"), 'type -> "password", '_label -> "Enter password",
             'class -> "input", 'placeholder -> "Current password", 'minLength -> "8", '_showConstraints -> false, 'id -> "pass")
            
             <input type="checkbox" onclick="myFunction()">Show Password

            @inputPassword(newPassForm("password2"),'type -> "password", '_label -> "New password (optional)",
             'class -> "input", 'placeholder -> "New password", 'minLength -> "8", '_showConstraints -> false,'id -> "pass2")

             <input type="checkbox" onclick="myFunction2()">Show Password

            @inputPassword(newPassForm("password3"),'type -> "password", '_label -> "Confirm new password",
             'class -> "input", 'placeholder -> "New password", 'minLength -> "8", '_showConstraints -> false,'id -> "pass3")
            
             <input type="checkbox" onclick="myFunction3()">Show Password

            <span class="hide">
                @inputText(newPassForm("role").copy(value=Some("customer")), '_label -> "", 'hidden -> "hidden")

            </span>
            <input type="submit" value="Submit" class="btn"/>
            
            <input type="button" value="Cancel" class="btn"
            onclick="window.location.href = '@routes.LoginController.login()';">
            
        </div>
    }

 
}
