@(reviews: List[models.Review], email: String, user: models.users.User)
@main("Reviews", user){
    @if((user != null) && (user.getRole().equals("admin"))) {
        @if(reviews.isEmpty){
            <h1>User hasn't reviewed any products</h1>
        } else {
        <div class="col-sm-10">
            <h2>List of all reviews from
                    @for(r<-reviews) {
                        @if(r.getUser.getEmail == email){
                            @r.getUser.getUsername
                        }
                    }
                    <!-- gets the username for the provided email -->
            </h2>

            <table class="table table-bordered table-condensed">
                <thead class="thead-dark">
                    <tr>
                        <th>Username</th>
                        <th>Comment</th>
                        <th>Rating</th>
                        <th>Product name</th>
                        <th>Review ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!-- End of table header -->
                <div class="table">
                    <tbody>
                        <!-- Review row(s) -->
                        @for(r<-reviews) {
                            @if(r.getUser.getEmail == email){
                                <tr>
                                    <td>@r.getUser.getUsername</td>
                                    <td>@r.getBody</td>
                                    <td>@("%.2f".format(r.getRating))</td>
                                    <a href="@routes.ProductController.displayProduct(r.getProduct.getProductName)">
                                      <td>@r.getProduct.getProductName</td></a>
                                    <td>@r.getId</td>

                                    <!-- delete button -->
                                    <td>
                                        <a href="@routes.ProductController.deleteReview(r.getId, r.getUser.getEmail, "all")" class="btn btn-danger btn-sm" onclick="confirmDel()">
                                            DELETE
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </div>
            </table>
        </div>
        }
    }
}
