@(user: models.users.User)


@import play.api.Play.current
@import models.shopping._
@import models._

<!-- Pass page title and user on to main -->
@main("View order history", user) {
    <style>
            #site-footer{
            padding:7em 0 2.8em;}
        </style>
    <div class="vieworders">

    @if(user.getOrders().isEmpty){
        <h3 style="text-align: center;">Hi @user.getUsername! You haven't placed any orders</h3>
        
    } else {
	<div class="col-md-12">
        <p><h2 style="text-align: center;">@user.getUsername's orders</h2></p>    
    </div>
		 


               
                    <!-- Start of For loop - For each p in products add a row -->
                    @for(o <- user.getOrders()) {

                        <p style="text-align: center;">Order Number: @o.getId()</p>
                        <p style="text-align: center;">Order Date: @o.getOrderDateString()</p>
                        <table class="table table-bordered table-hover table-condensed">
                        
                            <thead>
                            <!-- The header row-->
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                        @for(i <- o.getProducts()) {

                        <tr>
                        <td>@i.getId</td>
                        <td>@i.getProduct.getProductName()</td>
                        <td>@i.getQuantity()</td>
                        <td>&euro; @("%.2f".format(i.getPrice()))</td>
                        <td>&euro; @("%.2f".format(i.getLineTotal))</td>
                        
                    </tr>
                    }<!-- End of For loop -->
                    
			</tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <p style="margin-right: 2.5em;"class="text-right"><strong>Order Total: &euro; @("%.2f".format(o.getOrderTotal))</strong></p>
            </div>  
        </div>
        <p>
            <a href="@routes.ShoppingController.cancelOrder(o.getId())">
                <button style="margin-left: 2.5em;"class="btn btn-primary cancel-order-btn">Cancel Order</button>
            </a>
        </p>
         }<!-- End of For loop -->
       
       


    }
</div>
}